flows.json
[{"id":"8c53718f.c12f5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"145ab9a3.720766","type":"debug","z":"8c53718f.c12f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":120,"wires":[]},{"id":"7fda5901.672a78","type":"ibmiot in","z":"8c53718f.c12f5","authentication":"apiKey","apiKey":"18f080d4.71cfdf","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345678","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":320,"wires":[["3bf31eb4.50fc42","421ee2b6.175bdc"]]},{"id":"3bf31eb4.50fc42","type":"function","z":"8c53718f.c12f5","name":"Temperature","func":"msg.payload-msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":260,"wires":[["145ab9a3.720766"]]},{"id":"421ee2b6.175bdc","type":"function","z":"8c53718f.c12f5","name":"Humidity","func":"msg.payload-msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":320,"wires":[["145ab9a3.720766"]]},{"id":"bc6231ed.a4eae","type":"inject","z":"8c53718f.c12f5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":120,"wires":[["145ab9a3.720766"]]},{"id":"c33045c5.980a78","type":"ibmiot out","z":"8c53718f.c12f5","authentication":"apiKey","apiKey":"18f080d4.71cfdf","outputType":"cmd","deviceId":"12345678","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":570,"y":400,"wires":[]},{"id":"18f080d4.71cfdf","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]